@using DemoUpSchoolProject.Models.Entities
@model List<TblContact>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
    int sayac = 0;
}

<h2>Deneyimlerim</h2>
@if (Model.Count == 0)
{
    <div class="alert alert-warning" role="alert">
        Kayıt Bulunamadı!!
    </div>
    <br />
}
else
{
    <!--üste eklenen model ile controllers values'dan gelen değerler karşılanır.-->
    <table class="table table-bordered">
        <!--Önce aracın türü sonra biçimlendirme formatı şeklinde bootstrap verilir.
        türü table, table-bordered ise format şekli -->
        <tr>

            <th>#</th>
            <th>Mesaj Gönderen Kişinin Adı Soyadı</th>
            <th>Mesaj Gönderen Kişinin Mail Adresi</th>
            <th>Mesaj Konusu</th>
            <th>Mesaj</th>
       


            <th>Sil</th>
         
        </tr>
        <!--razor syntax-->
        @foreach (var item in Model)
        {
            sayac += 1;
            <tr>

                <td>@sayac</td>
             
                <td>@item.NameSurname</td>
                <td>@item.EMail</td>
                <td>@item.Subject</td>
                <td>@item.Message</td>


                <td><a href="/InComingMessage/DeleteContact/@item.ContactID" class="btn btn-danger">Sil</a></td>
         

            </tr>

        }


    </table>


}

